@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

@font-face {
    font-family: 'BERNIER Shade';
    src: url('/fonts/BERNIERShade-Regular.woff2') format('woff2'),
        url('/fonts/BERNIERShade-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}